<div class="wrapper">
  <div class="page-header clear-filter">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">shrimp farm</h1>
              <h3>กุ้งสวย กุ้งสดใหม่ ให้เยอะ</h3>
          </div>
      </div>
  </div>

  <div class="main">
    <div class="section section-images screen-only">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="hero-images-container">
                        <img src="assets/img/hero-image-1.png" alt="">
                        <img src="assets/img/logo-orange.png" alt="">
                    </div>
                    <div class="hero-images-container-1">
                        <img src="assets/img/hero-image-3.png" alt="">
                        <img src="assets/img/logo-orange-full-name.png" alt="">
                    </div>
                    <div class="hero-images-container-2">
                        <img src="assets/img/hero-image-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="hero-images-container">
                      <img src="assets/img/hero-image-2.png" alt="">
                  </div>
                  <div class="hero-images-container-1">
                      <img src="assets/img/hero-image-4.png" alt="">
                  </div>
                  <div class="hero-images-container-2">

                  </div>
                </div>
            </div>
        </div>
    </div>
      <div class="section section-javascript screen-only" id="javascriptComponents">
          <div class="container">
            <div class="row">
              <div class="col-md-10 ml-auto col-xl-12 mr-auto">
                  <div class="card">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'" class="text-center">
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons ui-2_like"></i> กุ้งกุลาดำ
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                      <p>“กุ้งกุลาดำ” เป็นกุ้งที่มีขนาดใหญ่ มีช่วงชีวิตอยู่ในสองน้ำ </p>
                                      <p>คือน้ำกร่อย และน้ำทะเล เมื่อตัวโตเต็มไวจะลงไปทะเลที่ไม่ลึกมาก</p>
                                      <p>สามารถเลี้ยงในฟาร์มได้แล้ว ขนาดของกุ้งตัวใหญ่จึงมีรสชาติดี </p>
                                      <p>มักใช้ทั้งตัวมาทำพาสต้า หรือพล่า และกุ้งคั่วเกลือ</p>
                                      <div class="col-md-12">
                                          <div class="progress-container progress-primary">
                                            <span class="progress-badge">ความนิยม</span>
                                            <ngb-progressbar [value]="75"><span class="progress-value">75%</span></ngb-progressbar><br>
                                          </div>
                                      </div>
                                      <div class="col-md-12">
                                        <span class="badge badge-success">ขายดี</span>
                                        <span class="badge badge-info">มีของในสต๊อก</span>
                                      </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                    <i class="now-ui-icons ui-2_favourite-28"></i> กุ้งขาว
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                        <p> “กุ้งขาว” เป็นกุ้งทะเลที่พบในทุกระดับความลึก</p>
                                        <p>และนิยมนำมาล้างน้ำเกลือ แช่น้ำเย็น ทำเป็น “กุ้งแก้ว”</p>
                                        <p>เพื่อใส่กับแกงส้ม หรือนำมาแกะหัวออกแล้วใส่ในส้มตำกุ้งสด</p>
                                        <p>รสชาติของกุ้งขาวจะเนื้อนุ่ม แกะเปลือกง่าย</p>
                                        <div class="col-md-12">
                                            <div class="progress-container progress-primary">
                                              <span class="progress-badge">ความนิยม</span>
                                              <ngb-progressbar [value]="90"><span class="progress-value">90%</span></ngb-progressbar><br>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                          <span class="badge badge-success">ขายดี</span>
                                          <span class="badge badge-warning">Pre Order</span>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                  <ng-template ngbTabTitle>
                                      <i class="now-ui-icons emoticons_satisfied"></i> กุ้งก้ามกราม
                                  </ng-template>
                                    <ng-template ngbTabContent>
                                        <p>“กุ้งก้ามกราม” เป็นกุ้งสองน้ำ ที่ช่วงชีวิตตอนโตมักอยู่ในน้ำจืด </p>
                                        <p>และมีขนาดใหญ่ หรือบางคนเรียกว่า “กุ้งแม่น้ำ” เป็นกุ้งที่ว่ายน้ำเก่ง</p>
                                        <p>เปลือกกุ้งมีลักษณะแข็งทำให้เนื้อมีรสชาติกรุบกรอบ ลักษณะเด่นคือมีหัวมันกุ้งขนาดใหญ่</p>
                                        <p>นิยมนำมาย่าง หรือใช้ปรุงรสทั้งตัว</p>
                                        <div class="col-md-12">
                                            <div class="progress-container progress-primary">
                                              <span class="progress-badge">ความนิยม</span>
                                              <ngb-progressbar [value]="80"><span class="progress-value">80%</span></ngb-progressbar><br>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                          <span class="badge badge-success">ขายดี</span>
                                          <span class="badge badge-danger">สินค้ากำลังจะหมด</span>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
          <div class="section" id="carousel">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-8">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/bg1.jpg" alt="First slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5>กุ้งกุลาดำ</h5>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/bg3.jpg" alt="Second slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5>กุ้งขาว</h5>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/bg4.jpg" alt="Third slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5>กุ้งก้ามกราม</h5>
                              </div>
                            </ng-template>
                        </ngb-carousel>
                      </div>
                  </div>
              </div>
        </div>
      </div>
      <div class="section section-examples" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
          <div class="container">
              <br>
              <br>
              <div class="row justify-content-md-center sharing-area text-center">
                <div class="text-center col-md-12 col-lg-8">
                  <h3>ขอบคุณทุกท่านที่อุดหนุน</h3>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                  <a target="_blank" href="" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fab fa-twitter fa-spin"></i>
                  </a>
                  <a target="_blank" href="" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-facebook-square fa-spin"></i>
                  </a>
                  <a target="_blank" href="" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Chat us">
                    <i class="fab fa-line fa-spin" style="font-size:30px;color:green"></i>
                  </a>
                  <a target="_blank" href="" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fab fa-instagram fa-spin" style="font-size:30px;color:pink"></i>
                  </a>
                </div>
              </div>
          </div>
      </div>
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}},
              <a href="" target="_blank">shrimp Farm</a>.
          </div>
      </div>
  </footer>
</div>
