<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">พวกเราเลี้ยงกุ้ง และจับกุ้งขาย</h2>
                    <p>Shrimp Farm หรือฟาร์มกุ้งยายฉิม ก่อตั้งอย่างเป็นทางการโดยพี่ฉลอง </p>
                    <p>ซึ่งเป็นลูกชายของคุณยายฉิม ก่อตั้งแต่ปีพุทธศักราช 2556 จนถึงปัจจุบันเป็นเวลากว่า 7 ปี</p>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="image-container image-right" style="background-image: url('assets/img/bg6.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">ทีมงาน</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">พี่แดง</h4>
                            <p class="category text-primary">หัวหน้าทีมจับกุ้ง</p>
                            <p class="description">"งานเปียกงานโคลนปล่อยให้เป็นหน้าที่ของทีมผมนะครับ จับดี กุ้งไม่มีเหลือ"</p>
                                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">พี่ฉลอง</h4>
                            <p class="category text-primary">เจ้าของฟาร์ม</p>
                            <p class="description">"ผมใส่ใจตั้งแต่ขั้นตอนการเลือกลูกกุ้งที่แข็งแรง อาหาร และสารอาหารบำรุง"</p>
                                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">พี่จวง</h4>
                            <p class="category text-primary">หัวหน้างานขาย</p>
                            <p class="description">"กุ้งไม่สด งดขาย"</p>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">มาร่วมงานกันเถอะ</h2>
            <p class="description">คุณคือกำลังสำคัญของเรา</p>
            <p class="description">ตำแหน่งงานที่เปิดรับ 1.คนจับกุ้งและลากอวน(เปียกน้ำ100%) 2.คนถืออวน(ไม่เปียกน้ำ) 3.คนจดเลขน้ำหนักกุ้งหน้ากิโล 4.คนหว่านอาหารและสารบำรุง 5.คนถักหญ้ารอบคันบ่อ</p>
            <p class="description">*** ทุกตำแหน่งงานจะได้รับขนมปังและเครื่องดื่มชูกำลัง ฟรี ***</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="ชื่อ-นามสกุล" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons tech_mobile"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="เบอร์ติดต่อกลับ" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons business_bulb-63"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="ตำแหน่งงานที่สนใจ" (focus)="focus1=true" (blur)="focus1=false">
                  </div>

                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">ส่งข้อความ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}},
                <a href="" target="_blank">shrimp Farm</a>.
            </div>
        </div>
    </footer>
</div>
